# Required Azure OpenAI settings:
AZURE_TENANT_ID=YOUR-AZURE-TENANT-ID
AZURE_OPENAI_ENDPOINT=https://YOUR-AZURE-OPENAI-SERVICE-NAME.openai.azure.com
AZURE_OPENAI_CHAT_DEPLOYMENT=YOUR-AZURE-DEPLOYMENT-NAME

# Optional tracing destinations:
# APPLICATIONINSIGHTS_CONNECTION_STRING=YOUR-APPLICATION-INSIGHTS-CONNECTION-STRING
# LOGFIRE_TOKEN=YOUR-LOGFIRE-TOKEN
